# Python
__pycache__/
*.py[cod]
.python-version
.pytest_cache

# Test coverage
.coverage
coverage.xml
htmlcov/


# Vitual Environment
.venv/
.env

# IDE
.idea/
.DS_Store
.vscode/

# Project specific
/data/
