services:
  api:
    build: .
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    ports:
      - "3001:3000"
    environment:
      - VITE_API_URL=localhost:8000
    depends_on:
      - api
